<h1>Espace réservé aux administrateurs</h1>

<p>Hello, @User.Identity.Name</p>
<p>
@{
    foreach (var c in User.Claims)
    {
        var print = $"Issued by {c.Issuer} for {c.Subject?.Name} : {c.Type} = {c.Value} ";
        <span>@print</span><br/>
    }
} 
</p>