@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<header>
    <h1>Old school HTML with no CSS and no JS !</h1>
</header>
@{
<p>Today is @DateTime.Now.ToLongDateString()</p>
}
</body>
</html>
