@model WeatherData
@{
    Layout = null;
}
<h2>Weather in @Model.City</h2>
<div class="row">
    <div>
        <label>@Model.Description</label>
        <label>Temp</label>&nbsp;@Model.Temp °C
    </div>
</div>